html {
    scroll-behavior: smooth;
  }

.home-section {
    background: #fff;
    position: relative;
    padding: 110px 0;
    z-index: 0;
}

.gray-200
{
    background: #e9ecef;
}

.img-skill
{
    width: 100px;
    height: 100px;
}