html {
    scroll-behavior: smooth;
  }

.home-section {
    background: #fff;
    position: relative;
    padding: 110px 0;
    z-index: 0;
}

.gray-200
{
    background: #e9ecef;
}

.img-skill
{
    width: 100px;
    height: 100px;
}



.square-100
{
    width: 100px;
    height: 100px;
}

.square-200
{
    width: 200px;
    height: 200px;
}

.square-300
{
    width: 300px;
    height: 300px;
}

.square-400
{
    width: 400px;
    height: 400px;
}

.square-500
{
    width: 500px;
    height: 500px;
}

.item-center
{
    align-items: center; 
    display: flex; 
    flex-direction: column;
}