<main>
  {% for feature in site.features %}
    <!-- <hr > -->
    {% capture thecycle1 %}{% cycle 'group 1': 'odd', 'even' %}{% endcapture %}
    <section id='{{ feature.id }}' class="home-section {% cycle 'group bg': '', 'gray-200' %}">
      <div class="container row-fluid">
        
        <div class='{% cycle 'group 2': 'col-lg-5', 'col-lg-7' %} lead '> 
          {% if thecycle1 == 'odd' %}
            {% if feature.sidecontent %}
              {{feature.sidecontent}}
            {% else %}
              <h2>{{feature.heading}}</h2><h3>{{feature.subheading}}</h3> 
            {% endif %}
          {% else %} 
                {{ feature.content }}   
          {% endif %}
        </div>
        
        <div class='{% cycle 'group 3': 'col-lg-7', 'col-lg-5' %} lead '>   
          {% if thecycle1 == 'odd' %}  
              {{ feature.content }}   
          {% else %}
            {% if feature.sidecontent %}
              {{ feature.sidecontent }} 
            {% else %}
                <h2>{{feature.heading}}</h2><h3>{{feature.subheading}}</h3> 
            {% endif %}
          {% endif %}
        </div>
      </div>
    </section>
  {% endfor %}

<!--   <hr> -->
</main>