---
layout: default
---
<!-- <p>{{ page.date }} - Written by {{ page.author }}</p> -->

<!-- <main> -->
    <div class="home-section">
        <div class="container row-fluid lead">
    
            <!-- <article class="post"> -->
                {% if page.notitle != true %} <h1>{{ page.title }}</h1> {% endif %}
                <div class="text-justify">
                    {{ content }}
    
                </div>
                <!-- </article> -->
    
        </div>

    </div>
<!-- </main> -->
{% include footer.html %}
